
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= data.page.title %></title>
    <%= stylesheet_link_tag "vendor", "app", "test" %>
    <%= javascript_include_tag  "vendor", "app", "test" %>
  </head>

  <body>
    <div id="mocha"></div>

    <script>
      mocha.ui('bdd');
      mocha.checkLeaks();
      mocha.globals(['Ember', 'DS', 'App']);
      chai.Assertion.includeStack = true;

    </script>

    <script>
      expect = chai.expect;
      assert= chai.assert;
    </script>

    <%= javascript_include_tag  "tests" %>

    <script>
      mocha.run();
    </script>
  </body>
</html>
