
{{view App.BreadcrumbsView contentBinding="breadcrumbs" }}

<h1>{{name}}</h1>

{{#linkTo 'event_names' breadcrumbWorldName this}}events{{/linkTo}}

{{#if mapFloor.isLoaded}}
  {{world-map map=map mapFloor=mapFloor}}
{{/if}}
