
{{view App.BreadcrumbsView contentBinding="breadcrumbs" }}

<form>
  <fieldset>
    <legend>Region</legend>
    {{view Bootstrap.RadioGroup contentBinding="regions" valueBinding="selectedRegion"}}

    <legend>Polling Interval</legend>
    {{view Bootstrap.RadioGroup contentBinding="intervals" valueBinding="selectedInterval"}}

    <button type="submit" class="btn">Save</button>
  </fieldset>
</form>
