
{{view App.BreadcrumbsView contentBinding="breadcrumbs" }}

{{#each world in this}}
  <div>
    {{world.region}} - {{#linkTo "maps" world}}{{world.name}}{{/linkTo}}
  </div>
{{else}}
  <div>No worlds found</div>
{{/each}}
