
{{view App.BreadcrumbsView contentBinding="breadcrumbs" }}

{{#each event in controller}}
  <div>
    {{#linkTo "event_name" breadcrumbWorldName breadcrumbMapName event}}{{event.eventName.name}}{{/linkTo}}
    {{event.state}}
  </div>
{{else}}
  <div>No events found</div>
{{/each}}
