
{{view App.BreadcrumbsView contentBinding="breadcrumbs" }}


{{#each map_name in controller}}
  <div>
    {{#linkTo "event_names" breadcrumbWorldName map_name}}{{map_name.name}}{{/linkTo}}
  </div>
{{else}}
  <div>No maps found</div>
{{/each}}
