---
title: Guild Wars 2 App
---

<div id="app"></div>

<script>
  $(function() {
    console.log(Ember.keys(App.Router.router.recognizer.names));

    App.WorldName.find({}).then(function() {
      App.EventName.find({}).then(function() {
        App.MapName.find({}).then(function() {
          App.advanceReadiness();
        });
      });
    });
  });
</script>
